body {
  background-color:black;
  font-family:"Helvetica Neue" "Helvetica", "Arial", "Sans-serif";
}

#app {
  margin:0 auto;
  text-align:center;
}

#neb-img {
  max-width:100%;
}

#console {
  text-align:left;
  padding:10px;
  width:75%;
  border-radius:.25em;
  outline:none;
  border:0;
  background-color:#222;
  resize:none;
  font-size:1.0em;
  margin:0 auto;
}

a:focus, a:hover, a:active { outline:none; }

.nav-links {
  color:#323232;
  text-decoration:none;
  font-size:0.8em;
}

.line input {
  width:95%;
  background-color:#222;
  outline:none;
  border:0;
  color:#efefef;
  font-size:1.0em;
}

input.inactive {
  color: #888888;
}

input.inactive.info {
  color: #b9daff;
}